<div *ngIf="fruit " (click)="onClick($event)"
     class=" bg-green-50 flex justify-center items-center h-full w-full py-8 rounded-lg drop-shadow-xl">
    <ng-container *ngIf="!showDetails; else detailsShown">
      <p>
          {{fruit.name}}
      </p>
    </ng-container>

  <ng-template #detailsShown>
    <p>{{fruit.name}}</p>
    <ul class="w-full h-full flex flex-col align-center justify-center">
      <li>
        <progress max="100" value="{{fruit.nutritions.carbohydrates}}"></progress>
      </li>
      <li>
        <progress max="100" value="{{fruit.nutritions.carbohydrates}}"></progress>
      </li>
      <li>
        <progress max="100" value="{{fruit.nutritions.carbohydrates}}"></progress>
      </li>
      <li>
        <progress max="100" value="{{fruit.nutritions.carbohydrates}}"></progress>
      </li>
    </ul>
  </ng-template>
</div>



